<div class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <!--<a class="navbar-brand" routerLink="">Navbar</a>-->
  <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">-->
    <!--<span class="navbar-toggler-icon"></span>-->
  <!--</button>-->

  <!--<div class="collapse navbar-collapse" id="navbarsExampleDefault">-->
    <!--<ul class="navbar-nav mr-auto">-->
      <!--<li class="nav-item" routerLinkActive="active">-->
        <!--<a class="nav-link" routerLink="">Home</a>-->
      <!--</li>-->
      <!--<li class="nav-item" routerLinkActive="active">-->
        <!--<a class="nav-link" routerLink="users">Users</a>-->
      <!--</li>-->
      <!--&lt;!&ndash; <li class="nav-item dropdown" ngbDropdown>-->
        <!--<a class="nav-link dropdown-toggle" id="dropdown01" ngbDropdownToggle>Dropdown</a>-->
        <!--<div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu>-->
          <!--<a class="dropdown-item" href="#">Action</a>-->
          <!--<a class="dropdown-item" href="#">Another action</a>-->
          <!--<a class="dropdown-item" href="#">Something else here</a>-->
        <!--</div>-->
      <!--</li> &ndash;&gt;-->
    <!--</ul>-->
    <!--&lt;!&ndash; <form class="form-inline my-2 my-lg-0">-->
      <!--<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">-->
      <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
    <!--</form> &ndash;&gt;-->
  <!--</div>-->
</div>
