
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1 style="padding-bottom: 1em">Search library card:</h1>
      <form #searchFrom="ngForm" (ngSubmit)="onSearchSubmit()">
        <div class="form-group">
          <input type="text" class="form-control" id="searchById" [(ngModel)]="searchModel.id" name="id" placeholder="library card ID">
        </div>

        <div class="form-group">
          <input type="text" class="form-control" id="searchByUserId" [(ngModel)]="searchModel.userId" name="userId" placeholder="user ID">
        </div>

        <div class="form-group">
          <input type="text" class="form-control" id="searchByName" [(ngModel)]="searchModel.name" name="name" placeholder="user name">
        </div>

        <div class="form-group">
          <input type="text" class="form-control" id="searchBySurname" [(ngModel)]="searchModel.surname" name="surname" placeholder="user surname">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
    <div class="col-md-6">
      <h1>Add library card:</h1>

      {{addLibraryCardError}}
      <form #libraryCardFrom="ngForm" (ngSubmit)="onAddLibraryCardSubmit()">

        <div class="form-group">
          <label for="userId">ID</label>
          <input type="text" class="form-control" id="userId" required [(ngModel)]="newModel.userId" name="userId">
        </div>

        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" required [(ngModel)]="newModel.name" name="name">
        </div>

        <div class="form-group">
          <label for="surname">Surname</label>
          <input type="text" class="form-control" id="surname" required [(ngModel)]="newModel.surname" name="surname">
        </div>

        <button type="submit" class="btn btn-success">Submit</button>

      </form>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron" *ngIf="model.id">
        <h1  style="padding-bottom: 1em">Current Card: {{model.id}}</h1>
        <p>User ID: {{model.userId}}</p>
        <p>Name: {{model.name}} {{model.surname}}</p>
        <p *ngIf="model.books && model.books.length">Rented books:</p>
        <table class="table" *ngIf="model.books && model.books.length">
          <thead>
          <tr>
            <th>Barcode</th>
            <th>Name</th>
            <th>Author</th>
            <th>Return Deadline</th>
            <th>Remove Book</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let b of model.books">
            <td>{{b.barcode}}</td>
            <td>{{b.name}}</td>
            <td>({{b.author}})</td>
            <td>{{b.dateOfReturn}}</td>
            <td><button type="button" (click)="deleteBook(b)" class="btn">Submit</button></td>
          </tr>
          </tbody>
        </table>
        {{libraryCardError}}
        <div class="row">
        <form #searchFrom="ngForm" (ngSubmit)="onDateUpdateSubmit()" class="col-md-4" *ngIf="model.books && model.books.length">
          <label>Set Books New Return Deadline</label>
          <div class="form-group row">
            <div class="col-md-6"><input type="text" required class="form-control" id="dateOfReturn" [(ngModel)]="dateOfReturn" name="date" placeholder="2018-01-18"></div>
            <div class="col-md-6"><button type="submit" class="btn btn-default">Submit</button></div>
          </div>
        </form>
        <form #searchFrom="ngForm" (ngSubmit)="onAddBookSubmit()" class="col-md-8">
          <label>Add Book (insert barcode)</label>
          <div class="form-group row">
            <div class="col-md-3"><input type="text" required class="form-control" id="addBook" [(ngModel)]="addBookBarcode" name="date" placeholder="example: b1"></div>
            <div class="col-md-6"><input type="text" required class="form-control" id="firstDateOfReturn" [(ngModel)]="initialDateOfReturn" name="date" placeholder="example: 2018-01-18"></div>
            <div class="col-md-3"><button type="submit" class="btn btn-default">Submit</button></div>
          </div>
        </form>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <h1 *ngIf="(libraryCards && libraryCards.length) || searchError">Search Result:</h1>
      {{searchError}}
      <table class="table" *ngIf="libraryCards.length">
        <thead>
        <tr><th>ID</th><th>User ID</th><th>Name</th><th>Surname</th><th>See details</th></tr>
        </thead>
        <tbody>
        <tr *ngFor="let lc of libraryCards"><td>{{lc.id}}</td><td>{{lc.userId}}</td><td>{{lc.name}}</td><td>{{lc.surname}}</td><td><button type="button" (click)="selectLibraryCard(lc)" class="btn btn-info">Select</button></td></tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
